<?xml version="1.0"?>

<launch>
  <arg name="map_name" default="left_mstb_1"/>

  <!--Has both LSM and AMCL: they conflict-->

  <param name="/use_sim_time" value="true"/>

  <node name="map_server" pkg="map_server" type="map_server" 
	args="$(find race)/map/$(arg map_name).yaml"/>

  <include file="$(find race)/launch/mapping_edit.launch"/>

  <node name="static_tf0" pkg="tf" type="static_transform_publisher" 
          args="1 0 0 0 0 0  /world /map 10"/>

  <node name="static_tf5" pkg="tf" type="static_transform_publisher"
	args="0 0 0 0 0 0 /odom /base_frame 10" />
 
  <node name="BF2L" pkg="tf" type="static_transform_publisher"
	args="0 0 0 0 0 0 /base_frame /laser 10" /> 

  <node pkg="laser_scan_matcher" name="laser_scan_matcher_node" type="laser_scan_matcher_node" output="screen">
    <param name="base_frame" value="odom" />
    <param name="fixed_frame" value="map" /> 
  </node>

  <node name="static_tf3" pkg="tf" type="static_transform_publisher" 
	args="1 0 0 0 0 0 /world /map_hector 10"/>

  <node pkg="amcl" type="amcl" name="amcl" args="scan:=/scan" output="screen">
    <param name="use_map_topic" value="true"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_frame"/>
    <param name="global_frame_id" value="map"/>
    <param name="odom_model_type" value="diff"/>
  </node>
</launch>
