<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <arg name="map_name" default="left_mstb_1"/>

  <node name="map_server" pkg="map_server" type="map_server" 
	args="$(find race)/map/$(arg map_name).yaml"/>

  <include file="$(find hector_mapping)/launch/mapping_edit.launch"/>

  <node pkg="rviz" type="rviz" name="rviz"
	args="-d $(find race)/localize.rviz"/>

  <param name="/use_sim_time" value="true"/>

  <node name="static_tf0" pkg="tf" type="static_transform_publisher" 
	args="1 0 0 0 0 0  /world /map 10"/>

  <node name="static_tf1" pkg="tf" type="static_transform_publisher" 
	args="1 0 0 0 0 0  /base_frame /laser 10"/>

  <node name="static_tf2" pkg="tf" type="static_transform_publisher" 
	args="1 0 0 0 0 0 /world /map_hector 10"/>


</launch>
