<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <arg name="map_name" default="left_mstb_1"/>

  <node name="map_server" pkg="map_server" type="map_server" 
	args="$(find race)/map/$(arg map_name).yaml"/>

  <include file="$(find hector_mapping)/launch/mapping_edit.launch"/>

  <node pkg="rviz" type="rviz" name="rviz"
	args="-d $(find race)/localize.rviz"/>

  <node pkg="race" type="odom" name="odom" />

  <param name="/use_sim_time" value="true"/>

  <node name="static_tf0" pkg="tf" type="static_transform_publisher" 
          args="1 0 0 0 0 0  /world /map 100"/>


  <!--
  <node name="static_tf4" pkg="tf" type="static_transform_publisher" 
          args="1 0 0 0 0 0  /map /odom 100"/>
-->

  <node name="static_tf1" pkg="tf" type="static_transform_publisher" 
          args="1 0 0 0 0 0 /odom /scanmatcher_frame 100"/>
  <node name="static_tf8" pkg="tf" type="static_transform_publisher" 
          args="1 0 0 0 0 0 /scanmatcher_frame /base_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /laser 100" />


  <node pkg="laser_scan_matcher" name="laser_scan_matcher_node" type="laser_scan_matcher_node" output="screen" args="base_frame:=base_frame">
          <rosparam>
                  base_frame: base_frame
          </rosparam>
  </node>


<!--
  <node name="static_tf2" pkg="tf" type="static_transform_publisher" 
	args="1 0 0 0 0 0  /odom_frame /map 10"/>
-->

  <node pkg="amcl" type="amcl" name="amcl" args="scan:=/scan" output="screen">
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="use_map_topic" value="true" />
    <param name="odom_model_type" value="diff"/>
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="60"/>
    <param name="laser_max_range" value="15.0"/>
    <param name="min_particles" value="5"/>
    <param name="max_particles" value="30"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.5"/>
    <param name="odom_alpha1" value="0.5"/>
    <param name="odom_alpha2" value="0.5"/>
    <!-- translation std dev, m -->
    <param name="odom_alpha3" value="0.5"/>
    <param name="odom_alpha4" value="0.5"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.1"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.3"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <!-- <param name="laser_model_type" value="beam"/> -->
    <param name="laser_likelihood_max_dist" value="1.0"/>
    <param name="update_min_d" value="0.05"/>
    <param name="update_min_a" value="0.1"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="resample_interval" value="1"/>
    <!-- Increase tolerance because the computer can get quite busy -->
    <param name="transform_tolerance" value="1.0"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="recovery_alpha_fast" value="0.0"/>
  </node>

</launch>
